body {
  /* font-family: "Comfortaa", cursive; */
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Kreon", serif; */
  /* font-family: "Nanum Pen Script", cursive; */
  /* font-family: "Niramit", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 60px;
  margin: 45px 0;
}
h3 {
  font-size: 24px;
}
button {
  margin-top: 60px;
}

.primary-bg-and-text {
  color: #ffffff;
  background-color: #000000;
}

/* Main Page */
.hero {
  padding: 250px;
  background-color: #1f2022;
  color: #fbfbff;
}

.p-home {
  font-size: 18px;
  padding: 0 80px;
}

.navbar-scroll {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.nav-active {
  background-color: #ffffff !important;
}

@media (max-width: 576px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 34px;
    margin: 30px 0;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    padding: 0 20px;
  }

  .hero {
    padding: 120px 10px;
  }
}

/* Projects Page */
.first-row {
  margin-top: 5px !important;
}

.p-project {
  font-size: 16px;
  margin: 0 130px;
}

.head-project {
  margin-top: 80px;
  margin-bottom: 100px;
}

.topic-w-margin {
  margin-top: 100px;
  margin-bottom: 50px;
}
.content-on-left {
  text-align: left;
}
.content-on-right {
  text-align: right;
}

/* Contact Page */
.p-contact {
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 0px;
}
.head-contact {
  margin-top: 0px;
  margin-bottom: 10px;
}
.contact-detail {
  margin-top: 80px;
}

/* Typing Effect */
.typewriter {
  overflow: hidden;
  border-right: 3px solid orange;
  white-space: nowrap;
  display: inline-block;
  animation: typing 5s steps(35, end) forwards, blink 0.8s infinite;
}
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: orange;
  }
}
