body {
  /* font-family: "Comfortaa", cursive; */
  /* font-family: "Josefin Sans", sans-serif; */
  /* font-family: "Kreon", serif; */
  /* font-family: "Nanum Pen Script", cursive; */
  /* font-family: "Niramit", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  text-align: center;
}

h1 {
  font-size: 96px;
}
h2 {
  font-size: 60px;
  margin: 80px 0;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 18px;
  padding: 0 80px;
}

button {
  margin-top: 60px;
}

.hero {
  padding: 250px;
  background-color: #38393b;
  color: #fbfbff;
}

@media (max-width: 576px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 34px;
    margin: 30px 0;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    padding: 0 20px;
  }

  .hero {
    padding: 120px 10px;
  }
}

.first-row {
  margin-top: 5px !important;
}

.p-project {
  font-size: 16px;
  text-align: left;
  margin: 0 50px;
}

.picture-link:hover {
  cursor: pointer;
}

.p-contact {
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 0px;
}
.head-contact {
  margin-top: 0px;
}

.navbar-scroll {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}
.nav-active {
  background-color: #ffffff !important;
}
